:root {
	// --cmdr-color-primary-100: #0667ba;
	// --cmdr-color-primary-200: #0662b2;
	// --cmdr-color-primary-300: #05579e;
	// --cmdr-color-primary-400: #044c8b;
	// --cmdr-color-primary-500: #144881;
	// --cmdr-color-primary-600: #0f3d70;
	// --cmdr-color-primary-700: #022b4f;
	// --cmdr-color-primary-800: #02213b;
	// --cmdr-color-primary-900: #011628;
	--cmdr-color-primary-blue-100: #0667ba;
	--cmdr-color-primary-blue-200: #0662b2;
	--cmdr-color-primary-blue-300: #05579e;
	--cmdr-color-primary-blue-400: #044c8b;
	--cmdr-color-primary-blue-500: #144881;
	--cmdr-color-primary-blue-600: #0f3d70;
	--cmdr-color-primary-blue-700: #022b4f;
	--cmdr-color-primary-blue-800: #02213b;
	--cmdr-color-primary-blue-900: #011628;
	--cmdr-color-orange-100: #f5a966;
	--cmdr-color-orange-200: #f49e52;
	--cmdr-color-orange-300: #f3933f;
	--cmdr-color-orange-400: #f2882c;
	--cmdr-color-orange-500: #ed780f;
	--cmdr-color-orange-600: #e6730f;
	--cmdr-color-orange-700: #d36a0d;
	--cmdr-color-orange-800: #c0600c;
	--cmdr-color-orange-900: #ad560b;
	--cmdr-color-brand-1: var(--cmdr-color-primary-blue-100);
	--cmdr-color-brand-2: var(--cmdr-color-orange-500);
	--cmdr-button-primary-bg-color: var(--cmdr-color-brand-1);
	--cmdr-button-secondary-bg-color: var(--cmdr-color-brand-2);
}

#root {
	font-size: 20px;
	margin: 0 auto;
	font-family: 'Teachers', sans-serif;
	padding-bottom: 10rem;
}

@mixin content-columns($columns) {
	grid-template-columns:
		1fr repeat($columns, minmax(auto, #{calc(1238 / $columns)}px))
		1fr;
}

@mixin btn-default {
	appearance: none;
	background-color: var(--cmdr-button-primary-bg-color);
	border: none;
	border-radius: 6px;
	box-shadow: 0 1px 3px 0 #0000004d;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 1em;
	min-width: 90pt;
	padding: 1rem 2.4rem;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 2px #361c04f2;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	vertical-align: middle;
}

.btn-default {
	@include btn-default();
}

.btn-secondary {
	@include btn-default();
	background-color: var(--cmdr-button-secondary-bg-color);
}

@mixin default-link {
	border-bottom: 1px dotted;
	color: #0667ba;
	text-decoration: none;
}

.default-link {
	@include default-link;
}

// Component wrapper containers
.component-wrapper {
	padding: 2rem;
	@media (min-width: 780px) {
		display: grid;
		@include content-columns(3);
	}

	&_header,
	&_themes,
	&_sign-in,
	&_pop-out {
		background-color: var(--cmdr-color-primary-blue-600);
	}
	&_header {
		padding-bottom: 0.5rem;
	}
	&_mini-tiles {
		background-color: #f0f8ff;
		@media (min-width: 780px) {
			@include content-columns(6);
		}
	}
	&_pop-out {
		@media (min-width: 780px) {
			@include content-columns(2);
		}
	}
	&_rich-text {
		background-color: #fff;
		@media (min-width: 780px) {
			@include content-columns(1);
		}
	}
	&_rich-text2 {
		background-color: #fff;
		@media (min-width: 780px) {
			@include content-columns(1);
		}
	}
	&_rates {
		background-color: #fff;
		@media (min-width: 780px) {
			@include content-columns(3);
		}
	}
	&_icon-row {
		background-color: #fff;
		@media (min-width: 780px) {
			@include content-columns(4);
		}
	}
	&__inner-wrapper {
		&_header {
			@media (min-width: 780px) {
				grid-column: 2/5;
			}
		}
		&_themes {
			background-color: #f0f7fe;
			border-radius: 15px;
			@media (min-width: 780px) {
				grid-column: 2 / 5;
			}
		}
		&_sign-in {
			@media (min-width: 780px) {
				grid-column: 2/5;
			}
		}
		&_mini-tiles {
			@media (min-width: 780px) {
				grid-column: 2/8;
			}
		}
		&_pop-out {
			@media (min-width: 780px) {
				grid-column: 2/4;
			}
		}
		&_rich-text {
			@media (min-width: 780px) {
				grid-column: 2/3;
			}
		}
		&_rates {
			@media (min-width: 780px) {
				grid-column: 2/5;
			}
		}
		&_rich-text2 {
			@media (min-width: 780px) {
				grid-column: 2/3;
				width: 75%;
				margin: 0 auto;
			}
		}
		&_icon-row {
			background-color: #fff;
			@media (min-width: 780px) {
				grid-column: 2/6;
			}
		}
	}
}

// Header
.header {
	display: flex;
	align-items: center;
	grid-gap: 1rem;
}

.globe-icon {
	max-width: 50px;
	fill: #fff;
}

.globe-svg {
	fill: #fff;
}

h1 {
	text-align: center;
	letter-spacing: 1px;
	color: #fff;
}

// Themes
.themes {
	&__unordered-list {
		display: flex;
		grid-gap: 2rem;
	}
}

// Links

.link-default {
	color: var(--cmdr-color-brand-1);
	font-weight: 500;
}

// Sign in
.sign-in {
	color: #fff;
	font-size: 2rem;
	display: flex;
	flex-direction: column-reverse;
	@media (min-width: 780px) {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(10, 1fr);
	}
	&__left-container {
		background-color: var(--cmdr-color-primary-blue-500);
		padding: 2rem;
		font-weight: 500;
		letter-spacing: 1px;
		@media (min-width: 780px) {
			grid-column: 1 / 3;
			grid-row: 2 / 10;
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
		}
	}
	&__right-container {
		background-image: url(https://picsum.photos/1000/);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 31.688rem;

		@media (min-width: 780px) {
			grid-column: 3 / 6;
			border-radius: 15px;
			grid-row: 1 / 11;
		}
	}
}

// Mini Tiles
.mini-tiles {
	&__heading {
		font-size: 2rem;
		color: var(--cmdr-color-primary-blue-600);
		font-weight: 600;
		border-left: 0.5rem var(--cmdr-color-brand-2) solid;
		padding-left: 0.75rem;
	}
	&__unordered-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
		@media (min-width: 780px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: 960px) {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
		}
	}
	&__list-item {
		border: 1px solid black;
		min-height: 12.375rem;
		border-radius: 15px;
		border-color: var(--cmdr-color-brand-1);
		color: var(--cmdr-color-brand-1);
		background-color: #f5faff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.pop-out {
	color: #fff;
	text-align: center;
	@media (min-width: 780px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1rem;
		text-align: left;
	}

	&__left-container {
		@media (min-width: 780px) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__right-container {
		background-image: url(https://picsum.photos/1000/);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 31.688rem;
		border-radius: 15px;
	}
	&__subheading {
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	&__text {
		font-size: 3.5rem;
		line-height: 1.14;
	}
}

// Rates

.rates {
	@media (min-width: 780px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
	}

	&__left-container {
		background-image: url(https://picsum.photos/1000/);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 31.688rem;
		border-radius: 15px;
	}
	&__subheading {
		font-size: 2rem;
		font-weight: 600;
		color: #0f3d70;
	}
}

// Rich Text

.rich-text {
	@media (min-width: 780px) {
		// width: 75%;
	}
	&__subheading {
		font-weight: 500;
		color: var(--cmdr-color-primary-blue-600);
		letter-spacing: 1px;
	}
	&__text {
		color: var(--cmdr-color-primary-blue-600);
		font-weight: 600;
	}
}

.rich-text2 {
	&__subheading {
		font-weight: 500;
		color: var(--cmdr-color-primary-blue-600);
		letter-spacing: 1px;
	}
	&__text {
		color: var(--cmdr-color-primary-blue-600);
		font-weight: 600;
	}
}

// Icon Row

.icon-row {
	&__unordered-list {
		@media (min-width: 780px) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
	&__list-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		grid-gap: 2rem;
		margin-bottom: 2rem;
		@media (min-width: 780px) {
			margin-bottom: 0;
		}
		.default-link {
			font-size: 2rem;
			border-bottom: none;
			white-space: nowrap;
		}
	}
	&__icon {
		max-width: 100px;
		fill: var(--cmdr-color-brand-1);
	}
}
