#root {
	font-size: 20px;
	margin: 0 auto;
	padding: 2rem;
	font-family: 'Teachers', sans-serif;
}

@mixin content-columns($columns) {
	grid-template-columns:
		1fr repeat($columns, minmax(auto, #{calc(1238 / $columns)}px))
		1fr;
}

.component-wrapper {
	display: grid;
	@include content-columns(3);
}

h1 {
	text-align: center;
	grid-column: 2/5;
	margin: 0 auto;
}
