:root {
	--cmdr-color-primary-100: #0667ba;
	--cmdr-color-primary-200: #0662b2;
	--cmdr-color-primary-300: #05579e;
	--cmdr-color-primary-400: #044c8b;
	--cmdr-color-primary-500: #044177;
	--cmdr-color-primary-600: #033663;
	--cmdr-color-primary-700: #022b4f;
	--cmdr-color-primary-800: #02213b;
	--cmdr-color-primary-900: #011628;
	--cmdr-color-brand-1: var(--cmdr-color-primary-100);
}

#root {
	font-size: 20px;
	margin: 0 auto;
	font-family: 'Teachers', sans-serif;
}

@mixin content-columns($columns) {
	grid-template-columns:
		1fr repeat($columns, minmax(auto, #{calc(1238 / $columns)}px))
		1fr;
}

// Component wrapper containers
.component-wrapper {
	display: grid;
	@include content-columns(3);
	padding: 1rem;
	&_header,
	&_themes {
		background-color: var(--cmdr-color-primary-500);
	}
	&__inner-wrapper {
		&_header {
			grid-column: 2/5;
		}
		&_themes {
			background-color: #f0f7fe;
			grid-column: 2 / 5;
		}
	}
}

// Header
.header {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 1rem;
}

.globe-icon {
	max-width: 50px;
	fill: #fff;
}

.globe-svg {
	fill: #fff;
}

h1 {
	text-align: center;
	letter-spacing: 1px;
}

// Themes
.themes {
	// background-color: var(--cmdr-color-primary-500);
}
